* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif
}

/* ----------------------common style------------------ */
:root,
:root.light-mode {
  --background: #FEFEFE;
  --them: #603AE5;
  --light-them: #8864ff;
  --black: #414141;
  --white: #ffffff;
  --bg-gray: #e3e3e3;
}

/* --------------fonts style-------------------- */
.font-10 {
  font-size: 10px;
}

.font-12 {
  font-size: 12px;
}

.font-14 {
  font-size: 14px;
}

.fw-600 {
  font-weight: 600;
}


ul li {
  list-style: none !important;
}

.cursor {
  cursor: pointer !important;
}

.white_space {
  white-space: nowrap !important;

}

.file_upload {
  border: 2px dashed #E2E2E2;
  border-radius: 5px;
}

.file_upload .file_logo {
  margin-right: 6px;
  padding: 15px 20px;
  border-radius: 8px;
  background: #F5F5FA;
}


/*--------------- main layout style-------------------- */

.main_layout {
  width: 100%;
  height: 100vh;
  display: flex;
}

.main_layout .header {
  background: var(--background);
  color: var(--black);
  height: 70px;
  width: 100%;
}

.nested_layout {
  width: calc(100% - 300px);
  display: flex;
  flex-direction: column;
}

.main_layout .context {
  height: calc(100% - 70px);
  width: 100%;
  background-color: var(--bg-gray);
}

.inner_Container {
  height: calc(100% - 20px);
  /* width: 100%; */
  background-color: var(--background);
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
}

.main_layout .sidebar {
  background: var(--them);
  height: 100%;
  width: 84px;
}

.main_layout .rightbar {
  background: var(--background);
  height: 100%;
  width: 270px;
  padding: 10px;
}

.rightbar_container {
  height: calc(100% - 8px);
  overflow-y: auto;
}

.main_layout .sidebar .sidebar_menu_container {
  height: calc(100% - 100px);
  overflow-y: auto;
  position: relative;
}

.main_layout .sidebar .sidenav-sections:hover,
.main_layout .sidebar .sidenav-sections.mainActive {
  border-left: 4px solid var(--white);
  background: var(--light-them);
}

.nested_container {
  position: absolute;
  top: 0;
  left: 81px;
  width: 200px;
  height: 100%;
  background: var(--light-them);
  border-left: 0.5px solid var(--light-them);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;
  z-index: -1;
}

.nested_container.show {
  transform: translateX(0);
  opacity: 1;
  z-index: 1;
}

.nested_container .nested_navlinks {
  width: 100%;
  background: transparent;
  /* border: 1px solid var(--them); */
  border-radius: 5px;
  padding: 6px 6px;
  margin: 5px 0px;
  color: var(--white);
  transition: background 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.nested_container .nested_navlinks:hover,
.nested_container .nested_navlinks.active {
  background: var(--white);
  border-radius: 5px;
  color: var(--them);
}

.main_layout .sidebar .sidebar_footer {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.main_layout .sideNavButton {
  display: block;
  text-decoration: none;
  color: var(--white);
  padding: 0px 15px;
  height: 50px;
  font-size: 14px;
  margin: 0px 0px 6px 0px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ---------Right bar style's----------- */
.arrot_box {
  background: #F6F6F6;
  padding: 0px 3px;
  border-radius: 4px;
}

/* ----------- Invoice Style-------------- */
.invoice-wrapper {
  background-color: #fbe6c2;
  padding: 3.5rem 4rem;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  margin: 0px 22px;
}

.invoice-card {
  background: white;
  padding: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  color: #0c5d56;
}

.invoice-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.invoice-header h1 {
  color: #0c5d56;
  font-size: 1.4rem;
  font-weight: 700;
}

.logo {
  display: flex;
  gap: 0.5rem;
  text-align: right;
}

.logo-icon {
  display: flex;
  font-size: 2rem;
  color: #0c5d56;
  justify-content: center;
  align-items: center;
}

.invoice-hr {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6px;
}

.invoice-hr .dot {
  width: 5px;
  height: 5px;
  background-color: #0c5d56;
  border-radius: 50%;
}

.invoice-hr hr {
  width: 100%;
  border: none;
  border-top: 2px solid #0c5d56;
  margin: 0;
}


.bill-details {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
  font-size: 0.7rem;
}

.invoice-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0.6rem 0;
}

.invoice-table th,
.invoice-table td {
  padding: 0.1rem;
  text-align: left;
  font-size: 10px;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer h4 {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}

.footer p {
  font-size: 0.6rem;
  margin: 0;
  line-height: 1.4;
}

.totals {
  text-align: right;
}

.totals div {
  margin-bottom: 0.5rem;
}

.total-amount {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
}

.bottom-bar {
  background: #0c5d56;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  font-size: 10px;
}