* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif
}

/* ----------------------common style------------------ */
:root,
:root.light-mode {
  --background: #FEFEFE;
  --them: #603AE5;
  --light-them: #8864ff;
  --black: #414141;
  --white: #ffffff;
  --bg-gray: #e3e3e3;
}

/* --------------fonts style-------------------- */
.font-10 {
  font-size: 10px;
}

.font-12 {
  font-size: 12px;
}

.font-14 {
  font-size: 14px;
}

.fw-600 {
  font-weight: 600;
}


ul li {
  list-style: none !important;
}

.cursor {
  cursor: pointer !important;
}

.white_space {
  white-space: nowrap !important;

}

.file_upload {
  border: 2px dashed #E2E2E2;
  border-radius: 5px;
}

.file_upload .file_logo {
  margin-right: 6px;
  padding: 15px 20px;
  border-radius: 8px;
  background: #F5F5FA;
}


/*--------------- main layout style-------------------- */

.main_layout {
  width: 100%;
  height: 100vh;
  display: flex;
}

.main_layout .header {
  background: var(--background);
  color: var(--black);
  height: 70px;
  width: 100%;
}

.nested_layout {
  width: calc(100% - 300px);
  display: flex;
  flex-direction: column;
}

.main_layout .context {
  height: calc(100% - 70px);
  width: 100%;
  background-color: var(--bg-gray);
}

.inner_Container {
  height: calc(100% - 20px);
  /* width: 100%; */
  background-color: var(--background);
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
}

.main_layout .sidebar {
  background: var(--them);
  height: 100%;
  width: 84px;
}

.main_layout .rightbar {
  background: var(--background);
  height: 100%;
  width: 270px;
  padding: 10px;
}

.rightbar_container {
  height: calc(100% - 8px);
  overflow-y: auto;
}

.main_layout .sidebar .sidebar_menu_container {
  height: calc(100% - 100px);
  overflow-y: auto;
  position: relative;
}

.main_layout .sidebar .sidenav-sections:hover {
  border-left: 4px solid var(--white);
  background: var(--light-them);
}

.nested_container {
  position: absolute;
  top: 0;
  left: 84px;
  width: 200px;
  height: 100%;
  background: var(--light-them);
  border-left: 0.5px solid var(--light-them);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;
  z-index: -1;
}

.nested_container.show {
  transform: translateX(0);
  opacity: 1;
  z-index: 1;
}

.nested_container .nested_navlinks {
  width: 100%;
  background: transparent;
  /* border: 1px solid var(--them); */
  border-radius: 5px;
  padding: 6px 6px;
  margin: 5px 0px;
  color: var(--white);
  transition: background 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.nested_container .nested_navlinks:hover,
.nested_container .nested_navlinks.active {
  background: var(--white);
  border-radius: 5px;
  color: var(--them);
}

.main_layout .sidebar .sidebar_footer {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.main_layout .sideNavButton {
  display: block;
  text-decoration: none;
  color: var(--white);
  padding: 0px 15px;
  height: 50px;
  font-size: 14px;
  margin: 0px 0px 6px 0px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ---------Right bar style's----------- */
.arrot_box {
  background: #F6F6F6;
  padding: 0px 3px;
  border-radius: 4px;
}